body{
    font-family: arial;
    font-size: 22px;
    background-color: aliceblue;
}
#display{
    margin-left: 25%;
    width: 600px;
    text-align:left;
}
.container{
    text-align: center;
    padding-top: 10%;
    margin-right: 100px;
}
.container button{
    margin: 1px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: lightblue;
    cursor: pointer;
}